<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<th:block layout::fragment="css">
    <style>
        .reg{
            cursor: pointer;
        }
        .click-img:hover{
            filter: brightness(50%);
        }
    </style>
</th:block>
<th:block layout::fragment="javascript">
    <script th:inline="javascript">
    </script>
</th:block>
<div layout:fragment="content">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card text-end text-bg-dark reg" th:onclick="|location.href='@{/member/new/admin}'|">
                <img src="../../static/img/admin_register.jpg" class="card-img click-img" alt="관리자_가입"/>
                <div class="card-img-overlay">
                    <h3 class="card-title">관리자 가입하기</h3>
                    <p class="card-text">반려 동반 숙소를 운영중이신가요?</p>
                    <p class="card-text">멍냥에서 관리해보세요!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-end text-bg-dark reg" th:onclick="|location.href='@{/member/new/user}'|">
                <img src="../../static/img/user_register.jpg" class="card-img click-img" alt="사용자_가입"/>
                <div class="card-img-overlay">
                    <h3 class="card-title">사용자 가입하기</h3>
                    <p class="card-text">멍냥에서 반려 동반과 함께 즐거운 추억을 쌓아보세요!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>