<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <style>
        .error{
            color : red;
            font-size : 12px;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            };
            var tel = [[${memberDto.tel}]];
            if(tel != null && tel != "" && tel != 0 && tel != "0"){
                var telSplit = tel.split("-");
                $("#tel1 option[selected = true]").attr('selected', false);
                $("#tel1 option:contains("+telSplit[0]+")").attr('selected', true);
                $("#tel2").val(Number(telSplit[1]));
                $("#tel3").val(Number(telSplit[2]));
            };
            telInputEvent();
            checkPW();
        });
        function telInputEvent(){
            $("#tel1, #tel2, #tel3").keyup(function(){
                var telA = $("#tel1").val();
                var telB = $("#tel2").val() + "-";
                var telC = $("#tel3").val();
                var telAll = telA + telB + telC;
                $("#tel").val(telAll);
            });
        }
        function checkPW(){
            $("#password, #checkPW").keyup(function(){
                var password = $("#password").val();
                var checkPW = $("#checkPW").val();
                if(checkPW != null && checkPW != "" && checkPW != "비밀번호를 한번 더 입력하세요."){
                    if(password == checkPW){
                        $("#resultPW").css('color','blue');
                        $("#resultPW").text('비밀번호가 확인 되었습니다.');
                        $("#checkPW").data('ok', 'Y');
                    }else{
                        $("#resultPW").css('color','red');
                        $("#resultPW").text('비밀번호가 틀립니다.');
                        $("#checkPW").data('ok', 'N');
                    }
                }
                if(checkPW == "" || checkPW == "비밀번호를 한번 더 입력하세요."){
                    $("#resultPW").text('');
                    $("#checkPW").data('ok', 'N');
                }
            });
        }
        function checkForm(){
            if($("#checkPW").data('ok') == 'N'){
                alert("비밀번호를 확인하세요!");
                return false;
            }
            return true;
        }
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("addressExtra").value = extraAddr;

                    } else {
                        document.getElementById("addressExtra").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('zipcode').value = data.zonecode;
                    document.getElementById("address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("addressDetail").focus();
                }
            }).open();
        }
    </script>
</th:block>
<div layout:fragment="content">
    <div class="px-5 py-4 text-center bg-body rounded-3">
        <form role="form" class="p-5 text-center bg-body rounded-3" method="post" th:action="@{/member/new/}+${memberDto.role}"
              th:object="${memberDto}" onsubmit="return checkForm();">
            <h2 th:unless="${#strings.equals(isKakao, 'Y')}" class="text-body-emphasis pb-5 border-bottom"
                th:text="${#strings.equals(memberDto.role, 'admin')} ? '관리자 회원 가입' : '회원 가입'"></h2>
            <h2 th:if="${#strings.equals(isKakao, 'Y')}" class="text-body-emphasis pb-5 border-bottom">추가 정보 기입</h2>
            <div class="container py-3 mx-5">
                <!--표시되지 않은 속성-->
                <input type="hidden" th:field="*{memberId}"/>
                <input type="hidden" th:field="*{role}"/>
                <input type="hidden" th:field="*{tel}"/>
                <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="isKakao" th:value="${isKakao}">
                <input th:if="${#strings.equals(isKakao, 'Y')}" type="hidden" id="kakaoPW" name="password" th:value="*{password}"/>
                <!--회원명-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-3 text-end">
                        <label class="col-form-label" th:for="name">이름</label>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" th:field="*{name}" placeholder="이름을 입력하세요."/>
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('name')}" class="row g-3 align-items-center ">
                    <div class="col-3"></div>
                    <div class="col-6 text-start">
                        <span th:errors="*{name}" class="error"></span>
                    </div>
                </div>
                <!--회원 이메일-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-3 text-end">
                        <label class="col-form-label" th:for="email">이메일(아이디)</label>
                    </div>
                    <div class="col-3">
                        <input type="email" th:classappend="${#strings.equals(isKakao, 'Y')} ? 'readonly'" class="form-control" id="email" th:field="*{email}" placeholder="아이디로 사용할 이메일을 입력하세요."/>
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('email')}" class="row g-3 align-items-center ">
                    <div class="col-3"></div>
                    <div class="col-6 text-start">
                        <span th:errors="*{email}" class="error"></span>
                    </div>
                </div>
                <!--회원 비밀번호-->
                <div th:unless="${#strings.equals(isKakao, 'Y')}" class="row g-3 align-items-center py-2">
                    <div class="col-3 text-end">
                        <label class="col-form-label" th:for="password">비밀번호</label>
                    </div>
                    <div class="col-3">
                        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="비밀번호를 입력하세요." aria-describedby="passwordWarn"/>
                    </div>
                    <div class="col-3 text-start">
                        <span class="form-text" id="passwordWarn">비밀번호 8자 이상, 16자 이하</span>
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('password')}" class="row g-3 align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6 text-start">
                        <span th:errors="*{password}" class="error"></span>
                    </div>
                </div>
                <!--회원 비밀번호 홛인-->
                <div th:style="${#strings.equals(isKakao, 'Y') ? 'display:none;' : _}" class="row g-3 align-items-center py-2">
                    <div class="col-3 text-end">
                        <label class="col-form-label" for="checkPW">비밀번호 확인</label>
                    </div>
                    <div class="col-3">
                        <input type="password" id="checkPW" class="form-control" placeholder="비밀번호를 한번 더 입력하세요." th:attr="data-ok=${isKakao}" aria-describedby="resultPW"/>
                    </div>
                    <div class="col-3 text-start">
                        <span class="form-text" id="resultPW"></span>
                    </div>
                </div>
                <!--회원 주소-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-3 text-end">
                        <label class="col-form-label" th:for="zipcode">주소</label>
                    </div>
                    <div class="col-3">
                        <input type="text" th:field="*{zipcode}" class="form-control" placeholder="우편번호">
                    </div>
                    <div class="col-2">
                        <input type="button" class="form-control" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                    </div>
                </div>
                <div class="row g-3 align-items-center py-2">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <input type="text" th:field="*{address}" class="form-control" placeholder="주소">
                    </div>
                </div>
                <div class="row g-3 align-items-center py-2">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <input type="text" th:field="*{addressDetail}" class="form-control" placeholder="상세주소">
                    </div>
                    <div class="col-3">
                        <input type="text" th:field="*{addressExtra}" class="form-control" placeholder="참고항목">
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('address')}" class="row g-3 align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6 text-start">
                        <span th:errors="*{address}" class="error"></span>
                    </div>
                </div>
                <!--회원 전화번호-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-3 text-end">
                        <label class="col-form-label" th:for="tel1">전화번호</label>
                    </div>
                    <div class="col-2">
                        <select class="form-select from-control" id="tel1" aria-label="전화번호">
                            <option value="010-" selected>010</option>
                            <option value="070-">070</option>
                            <option value="02-">02</option>
                            <option value="031-">031</option>
                            <option value="032-">032</option>
                            <option value="033-">033</option>
                            <option value="041-">041</option>
                            <option value="042-">042</option>
                            <option value="043-">043</option>
                            <option value="044-">044</option>
                            <option value="051-">051</option>
                            <option value="052-">052</option>
                            <option value="053-">053</option>
                            <option value="054-">054</option>
                            <option value="055-">055</option>
                            <option value="061-">061</option>
                            <option value="062-">062</option>
                            <option value="063-">063</option>
                            <option value="064-">064</option>
                        </select>
                    </div>
                    -
                    <div class="col-2">
                        <input type="number" class="form-control" id="tel2" placeholder="0000"/>
                    </div>
                    -
                    <div class="col-2">
                        <input type="number" class="form-control" id="tel3" placeholder="0000"/>
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('tel')}" class="row g-3 align-items-center">
                    <div class="col-3"></div>
                    <div class="col-6 text-start">
                        <span th:errors="*{tel}" class="error"></span>
                    </div>
                </div>
            </div>
            <button type="reset" class="btn btn-secondary mx-1">초기화</button>
            <button type="submit" class="btn btn-primary mx-1" th:text="${#strings.equals(isKakao, 'Y')} ? '전송하기' : '회원 가입 하기'">회원 가입 하기</button>
            <button th:if="${not #strings.equals(isKakao, 'Y')}" type="button" class="btn btn-secondary mx-1" th:onclick="|location.href='@{/member/new}'|">이전으로</button>
        </form>
    </div>
</div>
</html>