<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer container"  th:fragment="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img class="footerImg" alt="웹사이트 로고" src="../../static/img/logo.png"/>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 멍냥 created by oochoo</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="https://github.com/oocho0/mungnyang">
                    <img class="footerImg" alt="깃허브로고" src="../../static/img/github-mark.png"/>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="https://oochoo.notion.site/ce4dafb0380f461b91f1072a0dfd83e6?pvs=4">
                    <img class="footerImg" alt="노션로고" src="../../static/img/Notion-logo.svg.png"/>
                </a>
            </li>
        </ul>
    </footer>
</div>
</html>