<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<header th:fragment="header" class="container" style="margin-bottom:10px;">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-between py-3 mb-4 border-bottom">
        <div class="col-2 mb-2 mb-md-0">
            <a class="d-inline-flex link-body-emphasis text-decoration-none align-items-center" href="/">
                <img th:src="@{/image/fragments/logo_two.jpg}" width="50" alt="로고"/>
                <span class="my-0 mx-2 h2">멍냥</span>
            </a>
        </div>
        <nav class="nav col-8 mb-2 justify-content-center mb-md-0">
            <a class="nav-link link-body-emphasis" href="/admin/store" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">시설 등록</a>
            <a class="nav-link link-body-emphasis" href="/admin/stores" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">시설 관리</a>
            <a class="nav-link link-body-emphasis" href="/seller/accommodation"
               sec:authorize="hasAnyAuthority('ROLE_SELLER', 'ROLE_ADMIN')">숙소 등록</a>
            <a class="nav-link link-body-emphasis" href="/seller/accommodations"
               sec:authorize="hasAnyAuthority('ROLE_SELLER', 'ROLE_ADMIN')">숙소 정보 관리</a>
            <a class="nav-link link-body-emphasis" href="/seller/accommodations/reservations"
               sec:authorize="hasAnyAuthority('ROLE_SELLER', 'ROLE_ADMIN')">숙소 예약 현황</a>
            <a class="nav-link link-body-emphasis" href="/user/cart" sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')">
                예약 바구니</a>
            <a class="nav-link link-body-emphasis" href="/user/reservations" sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')">
                예약 내역</a>
        </nav>
        <div class="col-2 text-end">
            <button type="button" class="btn btn-outline-dark" onclick="location.href='/member/new'"
                    sec:authorize="isAnonymous()">회원가입
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false" sec:authorize="isAuthenticated()">마이페이지
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/member/myPage}">내 정보 수정</a></li>
                    <li><a class="dropdown-item" th:href="@{/member/pre-withdraw}">회원 탈퇴</a></li>
                    <li><hr class="dropdown-divider" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"></li>
                    <li><a class="dropdown-item" th:href="@{/admin/new}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">관리자 계정 추가</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-outline-primary" onclick="location.href='/member/login'"
                    sec:authorize="isAnonymous()">로그인
            </button>
            <button type="button" class="btn btn-outline-primary" onclick="location.href='/member/pre-logout'"
                    sec:authorize="isAuthenticated()">로그아웃
            </button>
        </div>
    </div>
</header>
</html>