.nav-item > .active {
    background-color : #FAF0E6 !important;
}
.nav-item > button {
    border-bottom : #FAF0E6 !important;
}
.card {
    height : 300px;
}
.list-group-flush {
    overflow: auto;
}

.accordion-button, .accordion-button > .active {
    background-color : #FAF0E6 !important;
}

.topTitle{
    font-size : 12px;
    font-weight : 800;
}

.topText{
    font-size : 8px;
}

.topImage{
    width: 100%;
    height: 150px;
    object-fit: cover;
    filter: brightness(50%);
}