<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <link th:href="@{/css/error.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style></style>
</th:block>
<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment-jdateformatparser@1.2.1/moment-jdateformatparser.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/inputImage.js}" type="text/javascript"></script>
    <script th:src="@{/js/kakaoAddress.js}" type="text/javascript"></script>
    <script th:src="@{/js/seller/register.js}" type="text/javascript"></script>
    <script th:src="@{/js/seller/setRoomInput.js}" type="text/javascript"></script>
    <script th:src="@{/js/seller/facility.js}" type="text/javascript"></script>
    <script th:src="@{/js/seller/calendarForRooms.js}" type="text/javascript"></script>
    <script type="text/javascript" th:inline="javascript">
    </script>
</th:block>
<div layout:fragment="content">
    <div class="px-5 py-4 text-center bg-body rounded-3">
        <form role="form" class="p-5 text-center bg-body rounded-3">
            <h2 class="text-body-emphasis pb-5 border-bottom">새 숙소 등록</h2>
            <div class="container py-3 mx-3">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <!--숙소 상태-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label">숙소 상태</label>
                    </div>
                    <div class="col-8 text-start">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="OPEN" name="accommodationStatus" id="accommodationStatusOpen" checked>
                            <label class="form-check-label" for="accommodationStatusOpen">영업중</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="PAUSE" name="accommodationStatus" id="accommodationStatusPause">
                            <label class="form-check-label" for="accommodationStatusPause">휴업</label>
                        </div>
                    </div>
                </div>
                <!--숙소 명-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label" for="accommodationName">숙소명</label>
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control" id="accommodationName" name="accommodationName"
                               aria-describedby="nameWarn"
                               data-error="숙소명이" aria-label="숙소명" placeholder="숙소의 이름을 입력하세요."/>
                    </div>
                    <div class="col-5 text-start">
                        <span class="form-text" id="nameWarn">최대 50자</span>
                    </div>
                </div>
                <!--숙소 분류-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label" for="smallCategoryId">숙소 분류</label>
                    </div>
                    <div class="col-4">
                        <select class="form-select" id="smallCategoryId" data-error="숙소 분류가" name="smallCategoryId"
                                aria-label="smallCategory">
                            <option selected>소분류 선택</option>
                            <option th:each="smallCategory : ${smallCategories}" th:text="${smallCategory.name}"
                                    th:value="${smallCategory.smallCategoryId}"></option>
                        </select>
                    </div>
                    <div class="col-4"></div>
                </div>
                <!--숙소 주소-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label" for="addressZipcode">주소</label>
                    </div>
                    <div class="col-5">
                        <input type="text" id="addressZipcode" data-error="우편 번호가" name="productAddressAddressZipcode"
                               class="form-control" placeholder="우편번호">
                    </div>
                    <div class="col-3">
                        <input type="button" class="form-control" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                    </div>
                </div>
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <input type="text" id="addressMain" data-error="주소가" name="productAddressAddressMain"
                               aria-label="주소" class="form-control" placeholder="주소">
                    </div>
                </div>
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <input type="text" id="addressDetail" name="productAddressAddressDetail" class="form-control"
                               aria-label="상세주소" placeholder="상세주소">
                    </div>
                    <div class="col-4">
                        <input type="text" id="addressExtra" name="productAddressAddressExtra" class="form-control"
                               aria-label="참고항목" placeholder="참고항목">
                    </div>
                </div>
                <!--위치 주소-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label" for="productAddressLat">위도 경도</label>
                    </div>
                    <div class="col-4">
                        <input type="number" step="0.0000001" id="productAddressLat" name="productAddressLat"
                               class="form-control"
                               data-error="위도가" placeholder="위도">
                    </div>
                    <div class="col-4">
                        <input type="number" step="0.0000001" id="productAddressLon" name="productAddressLon"
                               class="form-control"
                               data-error="경도가" aria-label="경도" placeholder="경도">
                    </div>
                </div>
                <!--체크인 체크아웃 정보-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label" for="checkInTime">체크인 시간</label>
                    </div>
                    <div class="col-3">
                        <input type="time" id="checkInTime" name="checkInTime"
                               data-error="체크인 시간이" class="form-control"/>
                    </div>
                    <div class="col-2 text-end">
                        <label class="col-form-label" for="checkOutTime">체크아웃 시간</label>
                    </div>
                    <div class="col-3">
                        <input type="time" id="checkOutTime" name="checkOutTime"
                               data-error="체크아웃 시간이" class="form-control"/>
                    </div>
                </div>
                <!--상세 정보-->
                <div class="row g-3 align-items-center py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label" for="accommodationDetail">상세 정보</label>
                    </div>
                    <div class="col-8">
                        <textarea id="accommodationDetail" name="accommodationDetail" class="form-control"
                                  aria-label="상세 정보"
                                  placeholder="상세 정보를 입력하세요<선택>"></textarea>
                    </div>
                </div>
                <!--사진 첨부-->
                <div class="row g-3 py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label" for="input-image">사진 첨부</label>
                    </div>
                    <div class="col-5">
                        <input type="file" multiple="multiple" id="input-image" class="form-control" aria-label="사진"
                               data-imageIndex="0" aria-describedby="explain-image" onchange="addFile(this);"/>
                    </div>
                    <div class="col-5 text-start" id="image-list">
                        <span class="form-text" id="explain-image">.gif, .jpg, .png 형식만 최대 10장까지 가능<br>최대 파일 용량은 100MB<br>파일명 100자 이하 가능</span>
                    </div>
                </div>
                <!--숙소 시설-->
                <div class="row g-3 py-2">
                    <div class="col-2 text-end">
                        <label class="col-form-label">숙소 시설</label>
                    </div>
                    <div class="col-4 text-start">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" data-error="숙소 시설이" aria-label="숙소 시설" id="facilityInput" placeholder="숙소 시설을 추가하세요.">
                            <button class="btn btn-outline-secondary" type="button" onclick="addFacility();">추가</button>
                        </div>
                    </div>
                    <div class="col-4 text-start" id="facilityList">
                    </div>
                </div>
                <!--방 정보-->
                <div class="accordion" id="roomInfo" data-maxRoomIndex="0">
                    <div class="accordion-item" id="room0" data-roomIndex="0">
                        <h2 class="accordion-header">
                            <button class="accordion-button bg-warning-subtle" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#roomInfo0" aria-expanded="true"
                                    aria-controls="roomInfo0">방 정보 -- 여기를 눌러 닫으세요</button>
                        </h2>
                        <div id="roomInfo0" class="accordion-collapse collapse show">
                            <div class="accordion-body border border-light-subtle">
                                <!--방 상태-->
                                <div class="row g-3 align-items-center py-2">
                                    <div class="col-3 text-end">
                                        <label class="col-form-label">방 상태</label>
                                    </div>
                                    <div class="col-8 text-start">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input roomAvailable" type="radio" value="OPEN" name="roomStatus0" id="roomStatus0-Open" checked>
                                            <label class="form-check-label" for="roomStatus0-Open">영업중</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input roomAvailable" type="radio" value="PAUSE" name="roomStatus0" id="roomStatus0-Pause">
                                            <label class="form-check-label" for="roomStatus0-Pause">임시 폐쇄</label>
                                        </div>
                                    </div>
                                </div>
                                <!--방 이름-->
                                <div class="row g-3 align-items-center py-2">
                                    <div class="col-3 text-end">
                                        <label class="col-form-label" for="roomName0">방 이름</label>
                                    </div>
                                    <div class="col-5">
                                        <input type="text" class="form-control" id="roomName0"
                                               aria-describedby="nameWarn0"
                                               data-error="방 이름이" aria-label="방 이름" placeholder="방 이름을 입력하세요."/>
                                    </div>
                                    <div class="col-4 text-start">
                                        <span class="form-text" id="nameWarn0">최대 50자</span>
                                    </div>
                                </div>
                                <!--방 가격-->
                                <div class="row g-3 align-items-center py-2">
                                    <div class="col-3 text-end">
                                        <label class="col-form-label" for="roomPrice0">방 가격</label>
                                    </div>
                                    <div class="col-5">
                                        <input type="number" class="form-control" id="roomPrice0"
                                               data-error="방 가격이" aria-label="방 가격" placeholder="방 가격을 입력하세요."/>
                                    </div>
                                    <div class="col-4 text-start">
                                        원
                                    </div>
                                </div>
                                <!--방 상세 정보-->
                                <div class="row g-3 align-items-center py-2">
                                    <div class="col-3 text-end">
                                        <label class="col-form-label" for="roomDetail0">방 상세 정보</label>
                                    </div>
                                    <div class="col-8">
                                        <textarea class="form-control" id="roomDetail0"
                                                  aria-label="방 상세 정보" placeholder="방 상세 정보를 입력하세요."></textarea>
                                    </div>
                                </div>
                                <!--방 사진 첨부-->
                                <div class="row g-3 py-2">
                                    <div class="col-3 text-end">
                                        <label class="col-form-label" for="roomImage0">방 사진 첨부</label>
                                    </div>
                                    <div class="col-5">
                                        <input type="file" multiple="multiple" id="roomImage0" class="form-control"
                                               aria-label="사진" data-imageIndex="0"
                                               aria-describedby="explain-roomImageWarn0" onchange="addRoomFile(this);"/>
                                    </div>
                                    <div class="col-4 text-start" id="roomImageWarn0">
                                        <span class="form-text" id="explain-roomImageWarn0">.gif, .jpg, .png 형식만 최대 10장까지 가능<br>최대 파일 용량은 100MB<br>파일명 100자 이하 가능</span>
                                    </div>
                                </div>
                                <!--방 시설-->
                                <div class="row g-3 py-2">
                                    <div class="col-3 text-end">
                                        <label class="col-form-label">방 시설</label>
                                    </div>
                                    <div class="col-4 text-start">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" data-error="방 시설이" aria-label="방 시설" id="room0-facilityInput" placeholder="방 시설을 추가하세요.">
                                            <button class="btn btn-outline-secondary" type="button" onclick="addRoomFacility();">추가</button>
                                        </div>
                                    </div>
                                    <div class="col-4 text-start" id="room0-facilityList">
                                    </div>
                                </div>
                                <!--방 예약-->
                                <div class="row g-3 py-2">
                                    <div class="col-3 text-end">
                                        <label class="col-form-label">방 예약</label>
                                    </div>
                                    <div class="col-8 text-start">
                                        <div class="calendar"></div>
                                        <span class="form-text">- 방을 등록하기 전, 해당 방의 현재 예약 상태를 등록하세요.
                                            <br>- 예약 기간만큼을 드래그해서 입력하세요.
                                            <br>- 오늘을 기준으로 이전의 예약은 추가할 수 없습니다.
                                            <br>- 등록된 예약을 클릭하시면 취소됩니다.</span>
                                    </div>
                                </div>
                                <!--방 삭제-->
                                <button class="btn btn-danger" id="roomDelete0" type="button" onclick="deleteRoom();">방 삭제하기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <button type="button" class="btn btn-warning" onclick="addRoom();">방 추가</button>
                </div>
            </div>
            <button type="reset" class="btn btn-secondary mx-1">초기화</button>
            <button type="button" class="btn btn-primary mx-1" onclick="request();">등록</button>
            <button type="button" class="btn btn-secondary mx-1" th:onclick="|location.href='@{/}'|">홈으로</button>
        </form>
    </div>
</div>
</html>